**/.koparde*
**/.vscode*
!.editorconfig
!.gitignore
!.gitattributes
**/.DS_Store
site/
test_jaspar.txt
test_pfm.txt
tmp
x
x.sh
y.sh
z.sh
scripts/other/log
scripts/other/merged_allhits.bed
scripts/other/merged_allhits.txt
scripts/other/merged_finalhits_sub
scripts/other/merged_finalhits.bed
scripts/other/merged_finalhits.txt
scripts/other/merged_header
scripts/other/merged_peaks
scripts/other/merged.json
scripts/other/test_allhits.bed
scripts/other/test_allhits.txt
scripts/other/test_finalhits.bed
scripts/other/test_finalhits.txt
scripts/other/test.bed
scripts/other/test.json
scripts/other/uropa.config
